
#localizacao{
    
    position: relative;
    right: 45px;
    margin-top: 50px;
    margin-left: 250px;
    text-decoration: none;
    top: -46px;
    height: 750px;
    width: 750px;


}

#loja{

   position: relative;
   text-align: center;
}